<p style="color: green"><%= notice %></p>

<%= @user.email.split('@').first %>

<%= pluralize(@user.posts.count, 'post') %>

<% @user.posts.each do |post| %>
  <%= image_tag post.photo, class: 'mb-4' %>
<% end %>
